
.first{
    width: 100%;
    height: 100px;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 24px;
    align-content: center;
}

button{
    border: 2px solid rgb(63, 152, 187);
    color: skyblue;
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

img{
    height: 90px;
    width: 90px;
    border-radius: 48px;
}

.p1{
    font-size: 25px;
}

ul {
    display: flex;   
    gap: 90px;
}

li{
    list-style: none;
    font-size: 23px
}

.a1{
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.blog{
    background-color: darksalmon;
    width: 100%;
    height: 400px;
}

.content{
    width: 45%;
    height: 200px;
    background-color: rgba(82, 80, 80, 0.145);
    text-align: center;
    color: white;
    align-items: center;
    align-content: center;
    font-size: 23px;
    border-radius: 8px;
}